<!-- Page for editing user details, copied from adduser.html-->
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/admin/adduser.css">
    <title>Add User</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../../icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icon/favicon-16x16.png">
    <link rel="manifest" href="../../icon/site.webmanifest">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container log-in-container">
            <form action="http://localhost:3000/admin/dashboard/edit/<%= user.id %>" method="post">
                <h2>Edit for <%= user.username %>
                </h2>
                <!-- Radio Button -->
                <div class="radio-group">
                    <input type="radio" id="radio-admin" name="role" value="Admin" required>
                    <label for="radio-admin">Admin</label> &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="radio-user" name="role" value="User" required>
                    <label for="radio-user">User</label>
                </div>
                <!-- End Radio Button -->
                <!-- <input type="text" placeholder="username" name="username" required/> -->
                <input type="password" placeholder="new password" name="password" required />
                <button type="submit" name="Submit" value="Submit">Submit</button>
                <br>
                <span class="back"><a href="/admin/dashboard" target="_self">Return to dashboard</a></span>
            </form>
        </div>
    </div>
</body>
</html>
